@charset "utf-8";

html {
   background-color: deepskyblue;
}

body {
   font-family: 'Kiwi Maru', serif;
}

header {
   text-align: center;
}

.navbar-dark .navbar-toggler-icon {
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-dark .navbar-toggler {
    border: 1px solid black;
}

h2, h3 {
    text-align: center;
    text-decoration: underline;
}

/*unvisited link*/
a:link {
    color: red;
}

/*visited link*/
a:link {
    color: darkblue;
}

footer {
    background-color: lightskyblue;
    text-align: center;
}